body {
    font-family: 'Fira Code';
    margin: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    max-width: 100vw;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 100vh;
    --pink: #C00781;
    --darkblue : #11111F;
    --yellow: #FFC530;
    background-color: var(--darkblue);
}
.logo {
    position: relative;
}
h1 {
    font-weight: 700;
    /* position: absolute; */
    font-size: 100px;
    cursor: crosshair;
    transition: color 0.3s ease, transform 0.3s ease;
}
.pink {
    color: var(--pink);
    position: absolute;
}
.dark {
    color: var(--darkblue);
    position: absolute;
    transform: translateX(5px);
}
.yellow {
    color: var(--yellow);
    transform: translateX(10px);
}
.yellow::selection {
    background-color: transparent;
}
.dark::selection {
    color: var(--darkblue);
    background-color: transparent;
}
.pink::selection {
    background-color: transparent;
    color: rgb(160, 1, 1);
}
.logo-green .pink{
    transform: translateX(10px);
    color: var(--yellow);
}
.logo-green .dark{
    transform: translateX(5px);
}
.logo-hidden{
    overflow: hidden;
}
.logo-hidden .yellow {
    transform: translateX(-300px);
}
.logo-hidden .pink {
    transform: translateX(-310px);
}
.logo-hidden .dark {
    transform: translateX(-305px);
}
.logo-green .yellow{
    color: rgb(0, 255, 170);
    transform: translateX(0px);
}
.rect {
    background-color: var(--darkblue);
    position: absolute;
    width: 500px;
    transition: 0.3s ease;
    height: 100px;
    animation: rect 0.5s 1s forwards;
}
@keyframes rect {
    100% {
        transform: translateX(100%);
    }
}
.members-wrap {
    overflow: hidden;
    height: 60px;
    position: absolute;
    transform: translateX(70px) translateY(2px);
    transition: 0.3s ease;
}
.members {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    transform: translateY(0px);
    animation: members 5s 1s infinite forwards;
}
.members-wrap-stop {
    opacity: 0;   
}
.members-wrap-stop .members{
    animation: none;
}
.members span {
    height: 55px;
}
.members span:first-child {
    color: red;
}
.members span:last-child {
    color: red;
}
.members span:nth-child(2) {
    color: #04DA00;
}
.members span:nth-child(3) {
    color: #FF3BBC;
}
.members span:nth-child(4) {
    color: #436cf3;
}
@keyframes members {
    0% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(-55px);
    }
    25% {
        transform: translateY(-55px);
    }
    35% {
        transform: translateY(-110px);
    }
    50% {
        transform: translateY(-110px);
    }
    60% {
        transform: translateY(-165px);   
    }
    75% {
        transform: translateY(-165px);
    }
    85% {
        transform: translateY(-220px);
    }
    100% {
        transform: translateY(-220px);
    }
}
@media (max-width: 600px) {
    h1{
        font-size: 50px;
    }
    .dark {
        transform: translate(3px);
    }
    .yellow {
        transform: translate(6px);
    }
    .logo-green .pink{
        transform: translateX(6px);
    }
    .logo-green .dark{
        transform: translateX(3px);
    }
    .logo-hidden .yellow {
        transform: translateX(-140px);
    }
    .logo-hidden .pink {
        transform: translateX(-150px);
    }
    .logo-hidden .dark {
        transform: translateX(-145px);
    }
    .members {
        font-size: 25px;
        line-height: 55px;
    }
}